@font-face{
    font-family: 'zarfilm';
    src: url('../fonts/irsans.woff') format('woff2');
    font-style: normal;
}
*{
    font-family: 'zarfilm';
}



/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

// hossein
$main-color: #eb8307;
body{
    background: #050505;
}

header{
    .header-top{
        background: #050505;
        height: 100px;
    }
    .header-bottom{
        background: rgba(34, 34, 34, 0.9);
        height: 80px;
    }
}
img.logo-img{
    margin-top: 5%;
    margin-right: 30%;
}
ul#nav-top{
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    li:nth-child(2){
        background: $main-color;
        border: 1px solid $main-color;
        border-radius: 25px;
        padding: 1% 2%;
        margin: 4% 1%;
        &:hover{
            transform: scale(1.1);
            transition: .8s;
        }
    }
    li{
        background: #1e1e1e;
        border: 1px solid #1e1e1e;
        border-radius: 25px;
        padding: 1% 3%;
        margin: 4% 1%;
        &:hover{
            background: $main-color;
            transition: .8s;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: .9rem;
        }
    }
}
div#log-in-ct{
    display: flex;
    padding: 6% 0%;
    justify-content: center;
    .right{
        background: #050505;
        color: #fff;
        border: 2px solid #424242;
        margin: 0% 2%;
        padding: 2% 6%;
        border-radius: 30px;
        &:hover{
            border: 2px solid $main-color;
            cursor: pointer;
            transition: .8s;
        }
    }
    .left{
        background: #050505;
        color: #fff;
        border: 2px solid #424242;
        margin: 0% 2%;
        border-radius: 30px;
        padding: 2% 6%;
        &:hover{
            border: 2px solid $main-color;
            cursor: pointer;
            transition: .8s;
        }
    }
}
ul#nav-bottom{
    display: flex;
    padding: 4%;
    li{
        padding: 0% 6%;

        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
div.searchbox-header{
    display: flex;
    background: #000;
    width: 80%;
    border-radius: 30px;
    margin-top: 2%;
    justify-content: space-around;
    input{
        width: 80%;
        background: transparent;
        color: #fff;
        border: none;
        outline: none;
        padding: 3%;
        &::placeholder{
            font-size: .8rem;
            padding-right: 3%;
        }
    }
 .search-icon{
         width: 10%;
         height: 40px;
         background: $main-color;
         border-radius: 50%;
         display: flex;
         margin-top: 1.5%;
         img{
             width: 50%;
             justify-content: center;
             align-items: center;
             margin: 0% auto;
         }
     }
}
section#banner{
    height: 400px;
    background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
}
div.banner-img{
    display: flex;
    a{
        padding: 3% 1%;
        text-decoration: none;
        img{
            opacity: .85;
            &:hover{
                opacity: 1;
            }
        }
        .imdb{
            width: 50%;
            margin: 0 auto;
            background: #000;
            color: #fff;
            border-radius: 20px;
            padding: 4%;
            padding-right: 13%;
            position: relative;
            bottom: 5%;
            border: 1px solid #424242;
        }
        .title{
            color: #fff;
            
            margin-right: 18%;
        }
    }
}
section#site-search{
    height: 500px;
    margin-top: 2%;
    div.main-cont{
        background: #242424;
        height: 500px;
        div.select-1{
            width: 20%;
            margin: 9% 10%;
            select{
                width: 240px;
                background: #1c1c1c;
                color: #fff;
                border: none;
                outline: none;
                padding: 10% 25%;
                font-size: .9rem;
            }
        }
    }
}
div#botton-1{
    background: #1c1c1c;
    color: #fff;
    width: 19%;
    display: flex;
    margin: 1% 2.5%;
    padding: .5%;
    .title{
        margin-left: 5%;
    }
    button{
        border: none;
        outline: none;
        padding: 1% 5%;
        box-sizing: border-box;
        background: #2c2c2c;
        color: #fff;
        &:hover{
            background: $main-color;
            transition: .8s;
        }
    }
}
div.main-button{
    justify-content: space-around;
}
div#search-icon-1{
    display: flex;
    width: 40%;
    background: #000;
    justify-content: space-around;
    padding: 2%;
    margin-right: 50%;
    margin-top: 5%;
    border: 2px solid #3f3f3f;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        border: 2px solid $main-color;
    }
    i{
        color: #fff;
    }
    .title{
        color: #fff;
    }
}
section#site-post{
    background: transparent;
    width: 65%;
    height: 580px;
    position: relative;
    margin-top: 2%;
    .cont-1{
        width: 89%;
        height: 95%;
        background: #2b2b2b;
        position: absolute;
        top: 0%;
        left: 0%;
        border-top-left-radius: 30px;
        .cont-2{
            width: 100%;
            height: 85%;
            background: #242424;
            border-top-left-radius: 30px;
        }
    }
}
div#title-site-post{
    padding: 6%;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}
i.site-post{
    padding: 21% 14%;
    font-size: 1.5rem;
    color: #7d7d7d;
    &:hover{
        color: #fff;
        transition: .4s;
    }
}
img#movie-wall{
    border-radius: 15px;
    margin: 10%;
    border: 4px solid #2b2b2b;
}
div.title-hossein{
    margin: 8% 0%;
    color: #7d7d7d;
    font-size: .8rem;
    .explain{
        padding: 0% 2%;
        color: #fff;
        
    }
}
div.rank{
    background: #393939;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    right: 44%;
    top: 15%;
    width: 55%;
    line-height: 1.5;
    padding: 2% 0%;
    .logo{
        display: flex;
        .right{
            font-size: 1.7rem;
            margin-right: 5%;
            color: #fff;
        }
        .left{
            img{
                width: 90%;
                margin-top: 6%;
                margin-right: 8%;
            }
        }
    }
    .vote{
        font-size: .7rem;
        display: flex;
        justify-content: center;
        color: #6c6c6c;
    }
}
div.summary{
    .title{
        display: flex;
        color: #8e8e8e;
        margin-right: 6%;
        font-size: .8rem;
        line-height: 1.9;
        .main{
            color: #fff;
            margin-right: 2%;
        }
    }
}
div.download-bt{
    background: $main-color;
    color: #fff;
    position: relative;
    right: 75%;
    bottom: 5%;
    width: 20%;
    padding: 2% 5%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    &:hover{
        background: #CE7304;
        cursor: pointer;
    }
}
footer{
    background: #1e1e1e;
    margin-top: 4%;
    div.social-media{
        padding: 11% 10%;
        height: 100%;
        .top{
            height: 50%;
            color: #fff;
            font-size: .8rem;
        }
        .bottom{
            height: 50%;
            .logo-img{
                margin-top: 2%;
                margin-right: 18%;
                img{
                    width: 10%;
                }
            }
        }
    }
    div.law{
        padding: 11% 10%;
        color: #fff;
        font-size: .8rem;
        h1{
            padding-right: 18%;
        }
    }
    div.logo-end{
        img{
            margin: 8% 45%;
        }
    }
}
aside{
    width: 38%;
    position: relative;
    right: 104%;
    top: 1%;
    section#movie-slide{
        img{
            margin: 0% 25%;
        }
    }
    section#sitesidebar1{
        margin-top: 10%;
        background: #242424;
        .title-sitesidebar{
            .title-1{
                color: #fff;
                line-height: 1.5;
                margin: 9% 28%;
                position: relative;
                right: 25%;
                font-size: .8rem;
                &:hover{
                    cursor: text;
                }
            }
            .archive{
                background: #000;
                color: #fff;
                border-radius: 50px;
                width: 60%;
                padding: 9% 6%;
                padding-right: 9%;
                margin: 6% 9%;
                font-size: .8rem;
                border: 2px solid transparent;
                &:hover{
                    border: 2px solid $main-color;
                    cursor: pointer;
                    transition: .4s;
                }
            }
            .item-1{
                .wallpaper{
                    img{
                        margin-top: 2%;
                        padding-right: 5%;
                        opacity: .7;
                        &:hover{
                            opacity: 1.5;
                            cursor: pointer;
                        }
                    }
                }
                .season-title{
                    margin-right: 33%;
                    margin-top: 1%;
                    font-size: .9rem;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
    section#telegram-instagram{
        .telegram{
            background: #242424;
            margin-top: 4%;
            border-radius: 15px;
            &:hover{
                cursor: pointer;
            }
            .logo{
                margin: 15% 0%;
                position: relative;
                right: 35%;
                img{
                    width: 45%;
                }
            }
            .title{
                margin: 9% 4%;
                color: #fff;
                line-height: 1.5;
                &:hover{
                    color: $main-color;
                }
                .first{
                    font-weight: bold;
                }
                .second{
                    font-size: .8rem;
                }
            }
        }
    }
}